<template>
    <div class="addItem">
        <input type="text" v-model="item.name"/>
        <font-awesome-icon  
            icon="plus-square" 
            :class="[ item.name ? 'active' : 'inactive' , 'plus' ]"
            @click="add"
        />
    </div>
</template>
<script>
    export default {
       data:function(){
           return {
               item:{
                   name:''
               }
           }
       }, 
       methods:{
           add(){
               if(this.item.name == ''){
                       return;
                 }
               axios.post('api/item/store', {
                   item:this.item
               })
               .then(response =>{
                    if(response.status==201){
                        this.$emit('reloadlist');
                        this.item.name=''
                        console.log("Ui");
                    }
                })
              .catch(error => console.log(error));
           }
       },
    //    mounted(){
    //        console.log(this.item.name);
    //    }
    }
</script>

<style scoped>
  .addItem{
      display:flex;
      justify-content: center;
      align-content: center;
  }
  input{
      border: 0px;
      background: #f0c6c6;
      outline: none;
      padding: 5px;
      margin-right: 10px;
      width: 100%;
  }
  .plus{
      font-size:20px;
      cursor: pointer;
  }
  .active{
      color:#00CE25
  }
  .inactive{
      color:#999999
  }
</style>
