<template>
    <div class="toDoListContainer">
        <div class="heading">
            <div id="title">todo List</div>
            <add-item-form
              v-on:reloadlist="getListItems()"
              />
        </div>
      <list-vue 
        :items="items"
        v-on:reloadlist="getListItems()"
        />
    </div>
</template>
<script>
  import AddItemForm from './addItemForm';
  import ListVue from './listVue';
    export default {
        components:{
           AddItemForm, 
           ListVue
        },
        data(){
            return{
               items :[]
            }
        },
        methods :{
            getListItems(){
                axios.get('api/items')
               .then(response =>{
                        this.items=response.data
                })
               .catch(error => console.log(error));
            }
        },
        created(){
            this.getListItems();
        }
    }
</script>
<style scoped>
  .toDoListContainer{
    width: 350px;
    margin: auto;
  }
  .heading{
    background: #f7f5f5;
    padding: 10px;
  }
  #title{
    text-align: center;
  }
</style>