<template>
    <div>
       <div v-for="(item, index) in items" :key="index">
             <list-item
              :item="item"
              class="item"
              v-on:onChangeItem="$emit('reloadlist')"
             />
       </div>
    </div>
</template>

<script>
import listItem from './listItem.vue'
    export default {
       components: { listItem },
       props:['items'] 
    }
</script>
<style scoped>
 .item{
     padding: 5px;
     margin-top: 5px;
     background:#e6e6e6
 }
</style>