<template>
    <div class="itemFlex">
       <input type="checkbox"
        v-model="item.completed"
        @change="updateCheck()"
       />
       <span :class="[item.completed ? 'completed' : '' , 'itemText']">{{item.name}}</span>  
       <button @click="remove(item.id)" class="suppTrash">
           <font-awesome-icon  
                icon="trash"
           />
       </button>
    </div>
</template>
<script>
    import Cpp from './cpp';
    export default {
        components :{
           Cpp 
        },
        props:['item'],
        methods:{
            remove(id){
                axios.delete("api/item/" + id)
                .then(response=>{
                    if(response.status==200){
                        this.$emit('onChangeItem');
                        console.log("okkkk");
                    }
                })
                .catch(error=>
                    console.log(error)
                )
            },
            updateCheck(){
                axios.put("api/item/" + this.item.id, {
                    item:this.item
                })
                .then(response=>{
                       if(response.status==200){
                           this.$emit('onChangeItem');
                           console.log("ok");
                        }
                })
                .catch(error=>
                    console.log(error)
                )
            }
        }
    }
</script>
<style scoped>
  input{
      margin-right: 20px;
  }
  .suppTrash{
      border:none;
      color:rgb(197, 14, 14);
      outline:none;
  }
  .itemFlex{
      display: flex;
      justify-content: center;
      align-content: center; 
  }
  .completed{
      text-decoration: line-through;
      color:#999999
  }
  .itemText{
      width: 100%;
      margin-left: 20px;
  }
</style>